In [1]:
#IOU Electricity Rates by Zipcode
#https://openei.org/doe-opendata/dataset/u-s-electric-utility-companies-and-rates-look-up-by-zipcode-2014/resource/c3acb9a5-bb18-462c-ad2b-6fd6136d6f98
import numpy as np
import pandas as pd
import plotly.plotly as py
import plotly.tools as tls

In [2]:
#create an account on plot.ly and they will generate an api key for you.
tls.set_credentials_file(username='',api_key='')

In [3]:
import urllib  # the module for reading a url
import csv  # the module for opening a .csv format file



# read a .xlsx format file with a given URL

from urllib.request import urlopen
import matplotlib.pyplot as plt

 
url = 'http://en.openei.org/doe-opendata/dataset/1f0a98f8-b221-40cb-b6d6-f1a6df12ee0a/resource/c3acb9a5-bb18-462c-ad2b-6fd6136d6f98/download/iouzipcodes2014.csv'
rates_csv = urlopen(url)
 
df = pd.read_csv(rates_csv, index_col=0, parse_dates=True)

In [4]:
df.head()

,eiaid,utility_name,state,service_type,ownership,comm_rate,ind_rate,res_rate
zip,,,,,,,,
85321,176,Ajo Improvement Co,AZ,Bundled,Investor Owned,0.063689,0.085891,0.095686
35218,195,Alabama Power Co,AL,Bundled,Investor Owned,0.108907,0.062183,0.117955
35219,195,Alabama Power Co,AL,Bundled,Investor Owned,0.108907,0.062183,0.117955
35214,195,Alabama Power Co,AL,Bundled,Investor Owned,0.108907,0.062183,0.117955
35215,195,Alabama Power Co,AL,Bundled,Investor Owned,0.108907,0.062183,0.117955

In [5]:
states= df.groupby('state').mean().reset_index()

In [6]:
states.head()

  state         eiaid  comm_rate  ind_rate  res_rate
0    AK    386.058824   0.259846  0.022157  0.291356
1    AL    195.000000   0.108907  0.062183  0.117955
2    AR   4033.141304   0.076618  0.061183  0.091577
3    AZ   6952.786632   0.110375  0.081610  0.121581
4    CA  15977.056556   0.121004  0.089589  0.126683

In [7]:
states.columns=['state','not_applicable','community','industry','residential']
states=states.round(2)

In [8]:
states.head()

  state  not_applicable  community  industry  residential
0    AK          386.06       0.26      0.02         0.29
1    AL          195.00       0.11      0.06         0.12
2    AR         4033.14       0.08      0.06         0.09
3    AZ         6952.79       0.11      0.08         0.12
4    CA        15977.06       0.12      0.09         0.13

In [9]:
states['text']= 'State: '+ states['state']+ '<br>'+'Residential_Rate: '+states['residential'].astype(str) +  '¢/kWh'+'<br>'+ 'Industry_Rate: ' + states['industry'].astype(str) +  '¢/kWh'+'<br>'+ 'Community_Rate : ' + states['community'].astype(str)+ '¢/kWh' 

data = [ dict(
        type='choropleth',
        autocolorscale = False,
        locations = states['state'].astype(str),
        z = states['residential'].astype(float),
        locationmode = 'USA-states',
        text = states['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Cost ¢/kWh")
        ) ]


data

[{'type': 'choropleth', 'autocolorscale': False, 'locations': 0     AK
  1     AL
  2     AR
  3     AZ
  4     CA
  5     CO
  6     CT
  7     DC
  8     DE
  9     FL
  10    GA
  11    HI
  12    IA
  13    ID
  14    IL
  15    IN
  16    KS
  17    KY
  18    LA
  19    MA
  20    MD
  21    ME
  22    MI
  23    MN
  24    MO
  25    MS
  26    MT
  27    NC
  28    ND
  29    NH
  30    NJ
  31    NM
  32    NV
  33    NY
  34    OH
  35    OK
  36    OR
  37    PA
  38    RI
  39    SC
  40    SD
  41    TN
  42    TX
  43    UT
  44    VA
  45    VT
  46    WA
  47    WI
  48    WV
  49    WY
  Name: state, dtype: object, 'z': 0     0.29
  1     0.12
  2     0.09
  3     0.12
  4     0.13
  5     0.12
  6     0.14
  7     0.08
  8     0.09
  9     0.12
  10    0.12
  11    0.38
  12    0.12
  13    0.10
  14    0.08
  15    0.12
  16    0.12
  17    0.10
  18    0.10
  19    0.13
  20    0.09
  21    0.11
  22    0.09
  23    0.11
  24    0.11
  25    0.11
  26    0.08
  27    0.11
  28    0.09
  29    0.12
  30    0.10
  31    0.12
  32    0.06
  33    0.13
  34    0.09
  35    0.10
  36    0.06
  37    0.09
  38    0.13
  39    0.12
  40    0.10
  41    0.10
  42    0.11
  43    0.11
  44    0.09
  45    0.17
  46    0.06
  47    0.13
  48    0.09
  49    0.11
  Name: residential, dtype: float64, 'locationmode': 'USA-states', 'text': 0     State: AK<br>Residential_Rate: 0.29¢/kWh<br>In...
  1     State: AL<br>Residential_Rate: 0.12¢/kWh<br>In...
  2     State: AR<br>Residential_Rate: 0.09¢/kWh<br>In...
  3     State: AZ<br>Residential_Rate: 0.12¢/kWh<br>In...
  4     State: CA<br>Residential_Rate: 0.13¢/kWh<br>In...
  5     State: CO<br>Residential_Rate: 0.12¢/kWh<br>In...
  6     State: CT<br>Residential_Rate: 0.14¢/kWh<br>In...
  7     State: DC<br>Residential_Rate: 0.08¢/kWh<br>In...
  8     State: DE<br>Residential_Rate: 0.09¢/kWh<br>In...
  9     State: FL<br>Residential_Rate: 0.12¢/kWh<br>In...
  10    State: GA<br>Residential_Rate: 0.12¢/kWh<br>In...
  11    State: HI<br>Residential_Rate: 0.38¢/kWh<br>In...
  12    State: IA<br>Residential_Rate: 0.12¢/kWh<br>In...
  13    State: ID<br>Residential_Rate: 0.1¢/kWh<br>Ind...
  14    State: IL<br>Residential_Rate: 0.08¢/kWh<br>In...
  15    State: IN<br>Residential_Rate: 0.12¢/kWh<br>In...
  16    State: KS<br>Residential_Rate: 0.12¢/kWh<br>In...
  17    State: KY<br>Residential_Rate: 0.1¢/kWh<br>Ind...
  18    State: LA<br>Residential_Rate: 0.1¢/kWh<br>Ind...
  19    State: MA<br>Residential_Rate: 0.13¢/kWh<br>In...
  20    State: MD<br>Residential_Rate: 0.09¢/kWh<br>In...
  21    State: ME<br>Residential_Rate: 0.11¢/kWh<br>In...
  22    State: MI<br>Residential_Rate: 0.09¢/kWh<br>In...
  23    State: MN<br>Residential_Rate: 0.11¢/kWh<br>In...
  24    State: MO<br>Residential_Rate: 0.11¢/kWh<br>In...
  25    State: MS<br>Residential_Rate: 0.11¢/kWh<br>In...
  26    State: MT<br>Residential_Rate: 0.08¢/kWh<br>In...
  27    State: NC<br>Residential_Rate: 0.11¢/kWh<br>In...
  28    State: ND<br>Residential_Rate: 0.09¢/kWh<br>In...
  29    State: NH<br>Residential_Rate: 0.12¢/kWh<br>In...
  30    State: NJ<br>Residential_Rate: 0.1¢/kWh<br>Ind...
  31    State: NM<br>Residential_Rate: 0.12¢/kWh<br>In...
  32    State: NV<br>Residential_Rate: 0.06¢/kWh<br>In...
  33    State: NY<br>Residential_Rate: 0.13¢/kWh<br>In...
  34    State: OH<br>Residential_Rate: 0.09¢/kWh<br>In...
  35    State: OK<br>Residential_Rate: 0.1¢/kWh<br>Ind...
  36    State: OR<br>Residential_Rate: 0.06¢/kWh<br>In...
  37    State: PA<br>Residential_Rate: 0.09¢/kWh<br>In...
  38    State: RI<br>Residential_Rate: 0.13¢/kWh<br>In...
  39    State: SC<br>Residential_Rate: 0.12¢/kWh<br>In...
  40    State: SD<br>Residential_Rate: 0.1¢/kWh<br>Ind...
  41    State: TN<br>Residential_Rate: 0.1¢/kWh<br>Ind...
  42    State: TX<br>Residential_Rate: 0.11¢/kWh<br>In...
  43    State: UT<br>Residential_Rate: 0.11¢/kWh<br>In...
  44    State: VA<br>Residential_Rate: 0.09¢/kWh<br>In...
  45    State: VT<br>Residential_Rate: 0.17¢/kWh<br>In...
  46    State: WA<br>Residential_Rate: 0.06¢/kWh<br>In...
  47    State: WI<br>Residential_Rate: 0.13¢/kWh<br>In...
  48    State: WV<br>Residential_Rate: 0.09¢/kWh<br>In...
  49    State: WY<br>Residential_Rate: 0.11¢/kWh<br>In...
  Name: text, dtype: object, 'marker': {'line': {'color': 'rgb(255,255,255)',
    'width': 2}}, 'colorbar': {'title': 'Cost ¢/kWh'}}]

In [10]:
layout= dict(title='Investor Owned Utilities Residential Electricity Rates',
            geo=dict(scope='usa', projection=dict(type='albers usa'), showlakes= True, lakecolor= 'rgb(66,165,245)',),)
layout

{'title': 'Investor Owned Utilities Residential Electricity Rates',
 'geo': {'scope': 'usa',
  'projection': {'type': 'albers usa'},
  'showlakes': True,
  'lakecolor': 'rgb(66,165,245)'}}

In [11]:
fig= dict(data=data, layout=layout)
py.iplot(fig, filename='electricity_rate')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~rahoolk/0 or inside your plot.ly account where it is named 'electricity_rate'